<h1>Carrito de Compras</h1>

<div class="card-conteiner">
  {{#each productos}}
    <div class="card">
      <p>Producto: {{this.product.title}}</p>
      <p>Cantidad: {{this.quantity}}</p>
      <p>Precio: ${{this.product.totalPrice}}</p>
      <button
        onclick="deleteProduct('{{this.cartId}}', '{{this.product._id}}')"
        class="own-btn"
      >Eliminar</button>
    </div>
  {{/each}}
</div>

<button onclick="emptyCart('{{cartId}}')" class="own-btn">Vaciar Carrito</button>
<h3>Total: ${{totalBuys}}</h3>