<h1> Productos </h1>

<div class="card-conteiner">
  {{#each products}}
    <div class="card-products">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Price: ${{price}}</p>
      <p>Category: {{category}} </p>
      <button class="own-btn"> Agregar al Carrito </button>
    </div>
  {{/each}}
</div>

<div class="page-container">
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button
        class="own-btn"
      >Ant</button></a>
  {{/if}}

  <div class="pages">
    <p>Pagina {{currentPage}} de {{totalPage}} </p>
  </div>

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button class="btn-page">
        Sig</button></a>
  {{/if}}
</div>